<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- FIND A FAVICON -->
    <!-- slogan = find your new best friend -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- normalize css -->
    <link rel="stylesheet" href="./normalize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="./styles.css" />
    <title>Pet Adoption Platform || Home</title>
</head>
    <body>
        <a href="/">Return Home</a>
        <header>404 PAGE NOT FOUND</header>
        <p class="error"><%= error %></p>
    </body>
</html>
