<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Pet Adoption Platform || About</title>
</head>
<body>
    <!-- Collapsed Sidepanel -->
    <div class="overlay"></div>
    <div class="side-menu">
        <button class="close-menu">×</button>
        <div class="side-menu-links">
            <a href="/">Home</a>
            <a href="/testimonials">Testimonials</a>
            <a href="/about">About Us</a>
            <a href="/#surrender">Surrender Pet</a>
        </div>
    </div>
    <header class="header">
        <!-- Temp Text Logo -->
        <div class="logo">
            <img src="./assets/fido_logo.png" alt="Fido Logo"/>
        </div>
        <button class="hamburger">☰</button>
    </header>
    <header>About Us</header>
    <footer>
        <div class="fcont">
            <div class="fhead">
                <img src="./assets/fido_logo.png" alt="Fido Logo"/>
                <div class="ftxt">
                    123 West Streetington <br> Arizona 85308
                </div>
            </div>
            <div class="links">
                <h1>Website Links</h1>
                <h3><a href="/">Home Page</a></h3>
                <h3><a href="/testimonials">Testimonials</a></h3>
                <h3><a href="/FAQ">FAQ</a></h3>
                <h3><a href="/about">About Us</a></h3>
            </div>
            <div class="socials">
                <h1 class="socialtxt">
                    Social Media
                </h1>
                <div class="social-imgs">
                    <a href="https://www.instagram.com/">
                        <img src="./assets/insta logo.png" alt="Instagram">
                    </a>
                    <a href="https://x.com/?lang=en">
                        <img src="./assets/twit logo.png" alt="Twitter">
                    </a>
                    <a href="https://www.youtube.com/">
                        <img src="./assets/yt logo.png" alt="YouTube">
                    </a>
                </div>
            </div>
        </div>
        <div class="foot">
            All Rights Reserved | ©2024 Fido
        </div>
    </footer>
    <script src="/hamburger.js"></script>
</body>
</html>