<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- FIND A FAVICON -->
    <!-- slogan = find your new best friend -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- normalize css -->
    <link rel="stylesheet" href="./normalize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="./styles.css" />
    <title>Pet Adoption Platform || Admin</title>
</head>
    <body>
        <a href="/adminPets">Go to Pets</a>
        <header>Users</header>
        <div class="pets">
            <% if (!users || users.length === 0) { %>
                <h5 class="empty-list">No Users Available</h5>
            <% } else { %>
                <div class="pets">
                    <% users.forEach(function(user) { %>
                        <div class="single-pet">
                            <h5><%= user.id %></h5>
                            <h5><%= user.username %></h5>
                            <form method="post" action="/<%= user.id %>">
                                <div class="pet-links">
                                    <button type="submit" class="delete-btn">
                                    <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>
        </section>
    </body>
</html>
