<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Pet Adoption Platform || Home</title>
</head>
<body>
    <!-- Collapsed Sidepanel -->
    <div class="overlay"></div>
    <div class="side-menu">
        <button class="close-menu">×</button>
        <div class="side-menu-links">
            <a href="/">Home</a>
            <a href="/testimonials">Testimonials</a>
            <a href="/about">About</a>
            <a href="/#surrender">Surrender Pet</a>
        </div>
    </div>
    <header class="header">
        <!-- Temp Text Logo -->
        <div class="logo">
            <!-- <img src="#" alt="Fido Logo" /> -->
            <span class="logo-text">
                <span class="logo-b">Fido</span>
            </span>
        </div>
        <button class="hamburger">☰</button>
    </header>
    <header>Dashboard</header>
    <section class="pets-container">
        <% if (!allPets || allPets.length === 0) { %>
            <h5 class="empty-list">No Pets Available</h5>
        <% } else { %>
            <div class="pets">
                <% allPets.forEach(function(pet) { %>
                    <div class="single-pet">
                        <h5><%= pet.name %></h5>
                        <h5><%= pet.gender %></h5>
                        <a href="/<%= pet.id %>">View Profile</a>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </section>

    <form class="pet-form" method="POST">
        <h4>Add Pets</h4>
        <div class="form-control">
            <input type="text" name="name" id="pet-input" class="pet-input" placeholder="Name of Pet" required />
            <input type="text" name="breed" id="breed-input" class="pet-input" placeholder="Breed of Pet" required />
            <select name="gender" id="gender-input" class="pet-input" required>
                <option value="" disabled selected hidden>Choose a Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <input type="email" name="email" id="email" class="pet-input" placeholder="Owner's Email" required>
            <input type="number" name="age" id="age-input" class="pet-input" placeholder="Age of Pet" required />
            <textarea id="description-input" name="description" rows="4" cols="50" maxlength="100" placeholder="Pet Description" required></textarea>
            <textarea id="behavior-input" name="behavior" rows="4" cols="50" maxlength="100" placeholder="Pet Behavior Description" required></textarea>
            <textarea id="history-input" name="history" rows="4" cols="50" maxlength="100" placeholder="Pet History Description" required></textarea>
            <button id="surrender" type="submit" class="btn submit-btn">Submit</button>
        </div>
    </form>
    <script src="/hamburger.js"></script>
</body>
</html>