<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <!-- <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" /> -->
    <!-- FIND A FAVICON -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- normalize css -->
    <link rel="stylesheet" href="./normalize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="./css/login.css" />
    <title>Login/Sign Up</title>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./login.js"></script>
</head>
<body>
    <div class="header">
        <img src="./assets/filler logo.jpg" alt="Logo">
    </div>
    <main class="container">
        <div class="login-card">
            <form class="form-group" method="POST">
                <div class="form-bar">
                    <label for="username">Username:</label><br>
                    <input required type="text" id="username" name="username" placeholder="UserName123">
                </div>
                <div class="form-bar">
                    <label for="password">Password:</label><br>
                    <input required type="password" name="password" id="password" placeholder="PassWord123">
                </div>
                <div class="check">
                    <input type="checkbox" id="signup">
                    <div>Create Account</div>
                </div>
                <div class="form-group login">
                    <button type="submit" id="login">Submit</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        All Rights Reserved |  ©2024 Adopt-A-Pet
    </footer>
    <!-- AXIOS -->
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    ></script>
</body>
</html>