<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <!-- FIND A FAVICON -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- main css -->
    <link rel="stylesheet" href="./testimonials.css" />
    <title>Testimonials</title>
    <!-- normalize css -->
    <link rel="stylesheet" href="./normalize.css" />
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./login.js"></script>
    <script src="/hamburger.js"></script>
</head>
<body>
    <!-- Collapsed Sidepanel -->
    <div class="overlay"></div>
    <div class="side-menu">
        <button class="close-menu">×</button>
        <div class="side-menu-links">
            <a href="/">Home</a>
            <a href="/testimonials">Testimonials</a>
            <a href="/about">About</a>
            <a href="/#surrender">Surrender Pet</a>
        </div>
    </div>
    <header class="header">
        <!-- Temp Text Logo -->
        <div class="logo">
            <!-- <img src="#" alt="Fido Logo" /> -->
            <span class="logo-text">
                <span class="logo-b">Fido</span>
            </span>
        </div>
        <button class="hamburger">☰</button>
    </header>
    <main>
        <div class="box1 box">
            <img class="image" src="./assets/warren and daniel.jpg" alt="Warren the dog">
            <div class="text">
                    <div class="box-head">
                        <div class="title">Warren</div>
                        <div class="slogan">"The Perfect Dog"</div>
                    </div>
                <div class="desc">
                    “Adopting Warren was one of the best decisions I've ever made; he's not only the perfect companion but has brought so much joy and energy into my life.”  -Daniel
                </div>
            </div>
        </div>
        <div class="box2 box">
            <img class="image" src="./assets/melissa with biscuit.jpeg" alt="Biscuit the dog">
            <div class="text">
                <div class="box-head">
                    <div class="title">Biscuit</div>
                    <div class="slogan">"Playful and Affectionate"</div>
                </div>
                <div class="desc">
                    “Bringing Biscuit home was life-changing—he's full of love, always ready for adventure, and has an incredible way of making every day brighter” - Melissa
                </div>
            </div>
        </div>
        <div class="box3 box">
            <img class="image" src="./assets/jacob with bob.jpg" alt="bob the dog">
            <div class="text">
                <div class="box-head">
                    <div class="title">Bob</div>
                    <div class="slogan">"A Loving Companion"</div>
                </div>
                <div class="desc">
                    “Since adopting Bob, my world has been filled with his quirky charm and unwavering companionship. - Jacob"
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="fcont">
            <div class="fhead">
                <img src="./assets/filler logo.jpg" alt="logo">
                <div class="ftxt">
                    123 West Streetington <br> Arizona 85308
                </div>
            </div>
            <div class="links">
                <h1>Website Links</h1>
                <h3><a href="http://localhost:5500/">Home Page</a></h3>
                <h3><a href="http://localhost:5500/login">Login & SignUp</a></h3>
                <h3><a href="http://localhost:5500/faq">FAQ</a></h3>
            </div>
            <div class="socials">
                <h1 class="socialtxt">
                    Social Media
                </h1>
                <div class="social-imgs">
                    <a href="https://www.instagram.com/">
                        <img src="./assets/insta logo.png" alt="Insta logo">
                    </a>
                    <a href="https://x.com/?lang=en">
                        <img src="./assets/twit logo.png" alt="Twitter logo">
                    </a>
                    <a href="https://www.youtube.com/">
                        <img src="./assets/yt logo.png" alt="Youtube Logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="foot">
            All Rights Reserved | ©2024 Adopt-A-Pet Ltd 
        </div>
    </footer>
</body>
</html>