@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");
*, ::after,
::before {
  box-sizing: border-box;
}

:root {
  /* CSS HSL */
  --honey: #f6d110;
  --butter: #fff9c7;
  --sky: #e6f2f4;
  --bluee: #81ceeb;
  /* fonts */
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
html body {
  background-color: var(--sky);
  overflow: hidden;
}
html body .header {
  height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 15vh;
}
html body .header img {
  position: fixed;
  right: 84%;
  top: 1.5%;
  display: flex;
  width: 12vw;
  height: 12vw;
}
html body .container {
  width: 75vw;
  height: 85vw;
  display: flex;
  margin: auto;
}
html body .container .login-card {
  margin: auto;
  width: 65vw;
  height: 40vh;
  padding: 1rem;
  border-radius: 5%;
  background-color: var(--bluee);
  box-shadow: 2px 2px 10px black;
}
html body .container .login-card .form-group {
  padding: 20px 2rem 0 2rem;
}
html body .container .login-card .form-group .form-bar {
  margin-bottom: 2vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
html body .container .login-card .form-group label {
  font-size: 7vw;
  font-family: var(--headingFont);
  font-weight: 600;
}
html body .container .login-card .form-group input {
  font-size: 4.5vw;
  padding: 1%;
  border: none;
  font-family: var(--smallText);
}
html body .container .login-card .form-group #login {
  margin: auto;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 7vw;
  width: 100%;
  border-radius: 15vw;
  background-color: white;
  font-family: var(--headingFont);
  font-weight: 600;
  padding-bottom: 1%;
  border: none;
  transition: 500ms;
}
html body .container .login-card .form-group #login:hover {
  cursor: pointer;
  background-color: gray;
  color: #81ceeb;
  font-size: 8vw;
}
html body .container .login-card .form-group .login {
  height: auto;
  padding: 0;
  padding: 0 2rem 6px 2rem;
}
html body .container .login-card .form-group .check {
  font-size: 4.5vw;
  display: flex;
  margin: auto;
  float: left;
  padding-left: 5vw;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2vh;
}
html body .container .login-card .form-group .check input {
  height: 5vw;
  width: 5vw;
  border: none;
}
html body .container .login-card .form-group .check input:hover {
  cursor: pointer;
}
html body .container .login-card .form-group .check div {
  font-family: var(--bodyFont);
}
html body footer {
  width: 100%;
  border-top: black solid 1px;
  height: 4vw;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 2.5vw;
  padding-top: 4px;
}

@media (orientation: landscape) {
  html body .header {
    margin-bottom: 5vh;
  }
  html body .header img {
    right: 94%;
    width: 4vw;
    height: 4vw;
  }
  html body .container {
    height: 40vw;
  }
  html body .container .login-card {
    height: 32vw;
    width: 38vw;
  }
  html body .container .login-card .form-group {
    padding: 1vh 2vw 0 2vw;
  }
  html body .container .login-card .form-group .form-bar label {
    font-size: 3vw;
  }
  html body .container .login-card .form-group .form-bar input {
    font-size: 2vw;
  }
  html body .container .login-card .form-group .check {
    width: 90%;
    margin: 0.6vw 0 1.4vw 0;
    padding-left: 2vw;
  }
  html body .container .login-card .form-group .check input {
    width: 3vw;
    height: 3vw;
  }
  html body .container .login-card .form-group .check div {
    font-size: 2.5vw;
  }
  html body .container .login-card .form-group .login {
    padding: 1vw;
  }
  html body .container .login-card .form-group .login #login {
    font-size: 3vw;
    transition: 500ms;
    padding: 1vw 3vw;
  }
  html body .container .login-card .form-group .login #login:hover {
    cursor: pointer;
    background-color: gray;
    color: #81ceeb;
    font-size: 3.5vw;
  }
}/*# sourceMappingURL=login.css.map */