@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');
*, ::after,
::before {
box-sizing: border-box;
}
:root {
/* CSS HSL */
--honey: #f6d110;
--butter: #fff9c7;
--sky: #e6f2f4;
--bluee: #81ceeb;
/* fonts */
--headingFont: 'Inconsolata', monospace;
--bodyFont: 'Montserrat', sans-serif;
--smallText: 0.7em;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    body{
        background-color: var(--sky);
        overflow: hidden;
        .header{
            height: 10vh;
            width: 100%;
            margin: auto;
            display: flex;
            border-bottom: 1px solid black;
            margin-bottom: 15vh;
            img{
                position: fixed;
                right: 78%;
                top: 1.5%;
                display: flex;
                width: 20vw;
                height: 12vw;
            } 
        }
        .container{
            width: 75vw;
            height: 85vw;
            display: flex;
            margin: auto;
            .login-card{
                margin: auto;
                width: 65vw;
                height: 40vh;
                padding: 1rem;
                border-radius: 5%;
                background-color: (var(--bluee));
                box-shadow: 2px 2px 10px black;
                .form-group{
                    padding: 20px 2rem 0 2rem;
                    .form-bar{
                        margin-bottom: 2vh;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                    }
                    label{
                        font-size: 7vw;
                        font-family: (var(--headingFont));
                        font-weight: 600;
                    }
                    input{
                        font-size: 4.5vw;
                        padding: 1%;
                        border: none;
                        font-family: (var(--smallText));
                    }
                    #login{
                        margin: auto;
                        justify-content: center;
                        display: flex;
                        text-align: center;
                        font-size: 7vw;
                        width: 100%;
                        border-radius: 15vw;
                        background-color: white;
                        font-family: (var(--headingFont));
                        font-weight: 600;
                        padding-bottom: 1%;
                        border: none;
                        transition: 500ms;
                        &:hover{
                            cursor: pointer;
                            background-color: gray;
                            color: #81ceeb;
                            font-size: 8vw;
                        }
                    }
                    .login{
                        height: auto;
                        padding: 0;
                        padding: 0 2rem 6px 2rem;
                    }
                    .check{
                        font-size: 4.5vw;
                        display: flex;
                        margin: auto;
                        float: left;
                        padding-left: 5vw;
                        justify-content: space-between;
                        width: 90%;
                        margin-bottom: 2vh;
                        input{
                            height: 5vw;
                            width: 5vw;
                            border: none;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        div{
                            font-family: var(--bodyFont);
                        }
                    }
                }
            }
        }
        footer{
            width: 100%;
            border-top: black solid 1px;
            height: 4vw;
            text-align: center;
            position: fixed;
            bottom: 0;
            font-size: 2.5vw;
            padding-top: 4px;
        }
    }
}
@media (orientation: landscape) {
    html{
        body{
            .header{
                margin-bottom: 5vh;
                img{
                    right: 94%;
                    width: 4vw;
                    height: 4vw;
                }
            }
            .container{
                height: 40vw;
                .login-card{
                    height: 32vw;
                    width: 38vw;
                    .form-group{
                        padding: 1vh 2vw 0 2vw;
                        .form-bar{
                            label{
                                font-size: 3vw;
                            }
                            input{
                                font-size: 2vw;
                            }
                        }
                        .check{
                            width: 90%;
                            margin: .6vw 0 1.4vw 0;
                            padding-left: 2vw;
                            input{
                                width: 3vw;
                                height: 3vw;
                            }
                            div{
                                font-size: 2.5vw;
                            }
                        }
                        .login{
                            padding: 1vw;
                            #login{
                                font-size: 3vw;
                                transition: 500ms;
                                padding: 1vw 3vw;
                                &:hover{
                                    cursor: pointer;
                                    background-color: gray;
                                    color: #81ceeb;
                                    font-size: 3.5vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
