@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');
*,
::after,
::before {
box-sizing: border-box;
}
:root {
/* CSS HSL */
--honey: #f6d110;
--butter: #fff9c7;
--sky: #e6f2f4;
--bluee: #81ceeb;
/* fonts */
--headingFont: 'Inconsolata', monospace;
--bodyFont: 'Montserrat', sans-serif;
--smallText: 0.7em;
}

html {
font-size: 112.5%;
}

body {
font-family: var(--bodyFont);
font-weight: 400;
line-height: 1.75;
}

header{
    font-size: 3rem;
    text-align: center;
}

p {
margin-bottom: 1.5rem;
max-width: 40em;
}

h1,
h2,
h3,
h4,
h5,
header {
margin: 0;
margin-bottom: 1.38rem;
font-family: var(--headingFont);
font-weight: 400;
line-height: 1.3;
text-transform: capitalize;
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2.5rem;
}

h3 {
font-size: 2rem;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1.25rem;
}

ul {
padding: 0;
list-style-type: none;
}
a {
text-decoration: none;
}

/* button styling */
.btn {
    cursor: pointer;
    appearance: none;
    background-color:var(--bluee);
    border: none;
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    margin:0 auto;
}
/* form styling */
form {
    width: 100%;
    padding: 2rem 2.5rem;
}
input,
textarea,
select {
    width: 25vw;
    padding: 0.375rem 0.75rem;
    margin:0 auto;
    /* border-color: transparent; */
}
textarea {
    resize: none;
}
.form-row {
    margin-bottom: 1rem;
}
.form-alert {
    text-transform: capitalize;
}
.pet-form{
    width: 50vw;
    margin: 0 auto;
    margin-top: 6rem;
}
.pet-form h4 {
text-align: center;
}
.pet-form .form-alert {
margin-top: 1rem;
}
.submit-btn {
width: 100%;
margin-top: 3rem;
}
@media screen and (min-width: 576px) {
.form-control {
    display: flex;
    flex-direction: column;
}
.pet-input {
    border-radius: 0;
}
.submit-btn {
    margin-top: 0;
    width: 175px;
    border-radius: 0;
}
}
form > :first-child {
margin-top: 0;
}
form > :last-child {
margin-bottom: 0;
}
/* alerts and text styling */
.alert {
padding: 0.375rem 0.75rem;
margin-bottom: 1rem;
border-color: transparent;
}
.text-danger {
color: red;
}
.text-success {
color: green;
}

/* pet styling */
.empty-list {
text-align: center;
}
.pets-container {
    width: 100%;
    width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 4rem;
}
.pets {
    display: grid;
    gap: 1rem;
}
.single-pet {
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.single-pet h5 {
margin-bottom: 0;
}
.loading-text {
visibility: hidden;
}
/* Task Links */
.pet-links {
display: flex;
align-items: center;
gap: 0 0.5rem;
}
.delete-btn{
background: transparent;
font-size: 0.75rem;
border: transparent;
cursor: pointer;
}
.delete-btn {
color:red;
}