@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');
*,
::after,
::before {
box-sizing: border-box;
}
:root {
/* CSS HSL */
--honey: #f6d110;
--butter: #fff9c7;
--sky: #e6f2f4;
--bluee: #81ceeb;
/* fonts */
--headingFont: 'Inconsolata', monospace;
--bodyFont: 'Montserrat', sans-serif;
--smallText: 0.7em;
}
html {
    margin: 0;
}
html body {
    background-color: var(--sky);
}
html body header {
    height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 5vh;
    font-family: var(--headingFont);
}
html body header img {
    margin: auto;
    display: flex;
    width: 12vw;
    height: 12vw;
}
header h1{
    display: flex;
    margin: auto;
    font-size: 6vw;
    width: 60%;
    justify-content: center;
    margin-right: 20%;
}
main{
    width: 90%;
    margin: auto;
    margin-bottom: 4vw;
}
.box{
    padding: 3rem 3rem 2rem 3rem;
    justify-content: center;
    width: 85%;
    margin: auto;
    font-family: var(--bodyFont);
}
.box-head{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-left: 1%;
    font-family: var(--headingFont);
}
.title{
    font-size: 250%;
}
.slogan{
    font-size: 150%;
    align-content: center;
}
.image{
    width: 100%;
    height: 20vh;
}
.desc{
    font-size: 120%;
    
}
footer{
    background-color: var(--honey);
    height: 62vh;
    width: auto;
    overflow: hidden;
}
.fcont{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.fhead{
    font-size: 4vw;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
}
.fhead img{
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
}
.ftxt{
    text-align: center;
    align-content: center;
    font-size: 5vw;
    font-family: var(--headingFont);
}
.links{
    margin-top: 1vh;
}
.links h1{
    font-family: var(--headingFont);
    font-size: 7vw;
    margin: auto;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #81ceeb;
    margin-bottom: 1vh;
}
.links h3{
    font-family: var(--bodyFont);
    font-size: 4vw;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}
.socials{
    margin-top: 4vh;
    font-family: var(--headingFont);
}
.socialtxt{
    font-size: 7vw;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    padding-bottom: 1vh;
    border-bottom: 2px solid #81ceeb;
}
.social-imgs{
    display: flex;
    padding: 1rem 2rem 2rem 0;
    justify-content: space-between;
}
.socials a img{
    width: 16vw;
    height: 16vw;
}
.foot{
    position: static;
    bottom: 0%;
    font-size: 3vw;
    text-align: center;
    font-family: var(--smallText);
}

@media (orientation: landscape) {
    html body header h1{
        font-size: 4vw;
        width: 80%;
        margin-right: 10%;
    }
    html body header img{
        width: 4vw;
        height: 4vw;
    }
    html body main{
        width: 80%;
    }
    .box{
        width: 90%;
        display: flex;
        padding-bottom: 5rem;
    }
    .box .text{
        font-size: 1vw;
        width: 48%;
        padding-left: 2%;
    }
    .image{
        width: 50%;
        height: 30vh;
    }
    .box-head{
        padding: 3vh 0 5vh 0;
    }
    .box2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .box2 .image{
        grid-column: 2/3;
        grid-row: 1;
        width: 100%;
    }
    .box2 .text{
        grid-column: 1/2;
        grid-row: 1;
        width: 96%;
    }
    footer{
        height: 40vh;
    }
    .fcont{
        display: flex;
        height: 100%;
        flex-direction: row;
        width: 80%;
    }
    .fhead{
        width: 33%;
        display: flex;
        flex-direction: column;
        height: 35vh;
    }
    .ftxt{
        font-size: 2vw;

    }
    .fhead img{
        margin: auto;
        height: 14vw;
        width: 14vw;
    }
    .links{
        width: 33%;
    }
    .links h1{
        font-size: 3vw;
    }
    .links h3{
        font-size: 2vw;
    }
    .socials{
        width: 33%;
    }
    .socialtxt{
        font-size: 3vw;
    }
    .foot{
        font-size: 1vw;
    }
}